<h1>{{titulo}}</h1><br/><br/>

<form>

  Nombre: <input type="text" name="nombre" [(ngModel)]="nombre"/><br/><br/>

  Apellidos: <input type="text" name="apellidos" [(ngModel)]="apellido"/><br/><br/>

  <input type="submit" value="Registrar" (click)="registrarUsuario()" /><br/><br/>

</form>

<p *ngIf="registrado; else sinRegistrar">{{mensaje}} con el nombre de {{nombre}} {{apellido}}</p><br/><br/>

<ng-template #sinRegistrar>
  <br/><p>Nadie registrado</p><br/><br/>
</ng-template>

<br/><br/>
<ul>
  <li *ngFor="let entrada of entradas; let i = index">{{entrada}} [{{i}}]</li>
</ul>